In [2]:
import pandas as pd

In [27]:
df = pd.read_csv('shaclchecker.csv')

In [24]:
df.columns

Index(['contact_name', 'organization_name', 'dataset_title', 'dataset_url',
       'dataset_rdf', 'dataset_ttl', 'node', 'property', 'value', 'error_msg',
       'pkg_type', 'checker_type', 'template'],
      dtype='object')

In [33]:
df2 = df.filter(['property', 'value', 'error_msg'])

In [34]:
df2.head()

,property,value,error_msg
0,dct:accrualPeriodicity,http://purl.org/cld/freq/completelyIrregular,The frequency is expected from a controlled vo...
1,dct:accrualPeriodicity,http://purl.org/cld/freq/completelyIrregular,The frequency is expected from a controlled vo...
2,dct:accrualPeriodicity,http://purl.org/cld/freq/completelyIrregular,The frequency is expected from a controlled vo...
3,dct:accrualPeriodicity,http://purl.org/cld/freq/completelyIrregular,The frequency is expected from a controlled vo...
4,dct:accrualPeriodicity,http://purl.org/cld/freq/completelyIrregular,The frequency is expected from a controlled vo...

In [35]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72 entries, 0 to 71
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   property   72 non-null     object
 1   value      45 non-null     object
 2   error_msg  72 non-null     object
dtypes: object(3)
memory usage: 1.8+ KB

In [36]:
df2.describe()

,property,value,error_msg
count,72,45,72
unique,2,1,2
top,dct:accrualPeriodicity,http://purl.org/cld/freq/completelyIrregular,The frequency is expected from a controlled vo...
freq,45,45,45

In [37]:
dg = df.groupby(['error_msg']).size().reset_index().rename(columns={0: 'count'})

In [38]:
dg.head()

                                           error_msg  count
0         Please add a description for your dataset.     27
1  The frequency is expected from a controlled vo...     45